
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPhotoLabel">Create or edit a Photo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.photo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.photo.url"
                    required />
            <div ng-show="editForm.url.$invalid">
                <p class="help-block"
                    ng-show="editForm.url.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_thumbnailUrl">ThumbnailUrl</label>
            <input type="text" class="form-control" name="thumbnailUrl" id="field_thumbnailUrl"
                    ng-model="vm.photo.thumbnailUrl"
                    required />
            <div ng-show="editForm.thumbnailUrl.$invalid">
                <p class="help-block"
                    ng-show="editForm.thumbnailUrl.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                    ng-model="vm.photo.width"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                    ng-model="vm.photo.height"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_hidden">Hidden</label>
            <input type="checkbox" class="form-control" name="hidden" id="field_hidden"
                    ng-model="vm.photo.hidden"
                     />
            <div ng-show="editForm.hidden.$invalid">
                <p class="help-block"
                    ng-show="editForm.hidden.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">CreationDate</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.photo.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                    ng-model="vm.photo.year"
                    required />
            <div ng-show="editForm.year.$invalid">
                <p class="help-block"
                    ng-show="editForm.year.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.year.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_month">Month</label>
            <input type="number" class="form-control" name="month" id="field_month"
                    ng-model="vm.photo.month"
                    required />
            <div ng-show="editForm.month.$invalid">
                <p class="help-block"
                    ng-show="editForm.month.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.month.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_day">Day</label>
            <input type="number" class="form-control" name="day" id="field_day"
                    ng-model="vm.photo.day"
                    required />
            <div ng-show="editForm.day.$invalid">
                <p class="help-block"
                    ng-show="editForm.day.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.day.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.photo.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.photo.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_likes">Likes</label>
            <input type="number" class="form-control" name="likes" id="field_likes"
                    ng-model="vm.photo.likes"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.photo.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
