body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.ribbon-item {
     display: inline-block;
     vertical-align: text-bottom;
}

.inner-ribbon-item {
    margin-top: -15px;
    font-size: 24pt;
    font-weight: bold;
    display: inline-block;
    min-height: 150px;
    min-width: 150px;
    width: 150px;
    height: 150px;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul.ribbon {
    margin: 0;
    padding: 4px;
    padding-bottom: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul.ribbon.no-border {
  border: 0;
  border-radius: 0;
}

.inner-ribbon-item.caption {
  text-align: center;
  padding-top: 55px;
}

.inner-ribbon-item.more {
  text-align: center;
  background-color: inherit;;
  padding-top: 55px;
  background-color: #ccc;
  opacity: 50%;
}

.inner-ribbon-item-sources {
  text-align: center;
  padding: 4px;
  padding-top: 55px;
  background-color: #ccc;
  opacity: 0.9;
  font-size: 24pt;
  font-weight: bold;
  display: inline-block;
  min-height: 150px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  line-height: 1.42857143;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.inner-ribbon-item-sources.instagramm {
  background-position: -2px -3px;
  background-image: url(../images/instagramicon.jpg);
}

.inner-ribbon-item-sources.dropbox {
  background-image: url(../images/dropbox-alternate.png);
}

.inner-ribbon-item-sources.vk {
  background-image: url(../images/Vk-icon-150x150.png);
}

.ribbon-continer {
  margin-top: 10px;
  min-width: 1075px;
}
.gram.img-thumbnail {
    height: 150px;
}

.dropbox {
    background-color: #007ee5;
}

.instagram {
    background-color: #a8b400;
}

.vk {
    background-color: #0ac578;
}
