<!doctype html>
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>myphotogram</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/styles/main.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    My Photogram
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/geo">Geo-Albums</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">My sources</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div>
            <ul class="ribbon no-border">
                <li class="ribbon-item"><span class="inner-ribbon-item-sources dropbox">&nbsp;</span></li>
                <li class="ribbon-item"><span class="inner-ribbon-item-sources vk">&nbsp;</span></li>
                <li class="ribbon-item"><span class="inner-ribbon-item-sources instagramm">
                    <a th:if="${!hasToken}" class="btn btn-default" href="/instagram/signin">Add...</a>
                    <a th:if="${hasToken}" class="btn btn-default" href="/instagram/signout">Disconnect...</a></span>
                </li>
            </ul>
        </div>
    </div>

</div>

<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/json3/lib/json3.js"></script>
</body>
</html>
